<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ADCollector.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>ADCollector.exe</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>2.0.0.2</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ADInventoryProd</value>
            </setting>
            <setting name="TestDatabase" serializeAs="String">
                <value>ADInventoryTest</value>
            </setting>
            <setting name="AllDatabase" serializeAs="String">
                <value>ADInventoryAll</value>
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value>ADInventorySQL</value>
            </setting>
            <setting name="WorkstationDatabase" serializeAs="String">
                <value>ADInventoryWin7</value>
            </setting>
            <setting name="UtilizationUsername" serializeAs="String">
                <value>shbascripts</value>
            </setting>
            <setting name="UtilizationPassword" serializeAs="String">
                <value>$cr1pt$upp0rt</value>
            </setting>
            <setting name="DatabaseInstance" serializeAs="String">
                <value>DCPWDBS447\SHIS</value>
            </setting>
            <setting name="DatabaseTest" serializeAs="String">
                <value>ADInventoryTest</value>
            </setting>
            <setting name="toemail" serializeAs="String">
                <value>DatabaseAlerts@domain.com</value>
            </setting>
            <setting name="ccemail" serializeAs="String">
                <value>ccemail@domain.org</value>
            </setting>
            <setting name="SysAdminAccount" serializeAs="String">
                <value>DOMAIN\SysAdminAccount</value>
            </setting>
            <setting name="SMTPSERVER" serializeAs="String">
                <value>SMTP_Server</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>&lt;Run As Username&gt;</value>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value>&lt;Run As Password&gt;</value>
            </setting>
            <setting name="ROOT" serializeAs="String">
                <value>LDAP://DCPWADS004</value>
            </setting>
        </ADCollector.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ADCollector.Properties.Settings>
            <setting name="fromemail" serializeAs="String">
                <value>fromemail@domain</value>
            </setting>
            <setting name="alertemail" serializeAs="String">
                <value>tomemail@domain</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>&lt;SQL_Instance&gt;</value>
            </setting>
        </ADCollector.Properties.Settings>
    </userSettings>
</configuration>