<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ADCollector.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>ADCollector.exe</value>
            </setting>
            <setting name="ROOT" serializeAs="String">
                <value>LDAP://DCPWADS004</value>
            </setting>
            <setting name="developeraccount" serializeAs="String">
                <value>ad-johnstw1</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>2.0.0.2</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>DCPWDBS447\SHIS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ADInventoryProd</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>shbascripts</value>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value>$cr1pt$upp0rt</value>
            </setting>
            <setting name="TestDatabase" serializeAs="String">
                <value>ADInventoryTest</value>
            </setting>
            <setting name="AllDatabase" serializeAs="String">
                <value>ADInventoryAll</value>
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value>ADInventorySQL</value>
            </setting>
            <setting name="WorkstationDatabase" serializeAs="String">
                <value>ADInventoryWin7</value>
            </setting>
            <setting name="toemail" serializeAs="String">
                <value>DL-PCRDatabaseAlerts@sutterhealth.org</value>
            </setting>
            <setting name="ccemail" serializeAs="String">
                <value>johnstw1@sutterhealth.org</value>
            </setting>
            <setting name="UtilizationDatabase" serializeAs="String">
                <value>Utilization</value>
            </setting>
            <setting name="UtilizationUsername" serializeAs="String">
                <value>shbascripts</value>
            </setting>
            <setting name="UtilizationPassword" serializeAs="String">
                <value>$cr1pt$upp0rt</value>
            </setting>
            <setting name="DatabaseInstance" serializeAs="String">
                <value>DCPWDBS447\SHIS</value>
            </setting>
            <setting name="UtilizationDatabaseInstance" serializeAs="String">
                <value>DCPWDBS447\SHIS</value>
            </setting>
            <setting name="DatabaseTest" serializeAs="String">
                <value>ADInventoryTest</value>
            </setting>
            <setting name="SysAdminAccount" serializeAs="String">
                <value>SUTTER-CHS\\NetBackup</value>
            </setting>
        </ADCollector.Properties.Settings>
    </userSettings>
</configuration>